<!DOCTYPE html>
<html>
  <head>
    <title>AngularJS Binding</title>
<!-- 

srcaddr 	Source IP address

dstaddr 	Destination IP address

nexthop 	IP address of next hop router

input 		SNMP index of input interface

output 		SNMP index of output interface

dPkts 		Packets in the flow 		

dOctets 	Total number of Layer 3 bytes in the packets of the flow

First 		SysUptime at start of flow 											

Last 		SysUptime at the time the last packet of the flow was received 

srcport 	TCP/UDP source port number or equivalent 						

dstport 	TCP/UDP destination port number or equivalent 					

pad1 		Unused (zero) bytes 											

tcp_flags 	Cumulative OR of TCP flags 											Yes 		tcpflags

prot 		IP protocol type (for example, TCP = 6; UDP = 17) 					Yes 		protocol
-->

    <!-- Include JQUERY: -->
    <script type="text/javascript" src="assets/js/angular.min.js"></script>
    <!-- Include Angular app: -->
    <script src='app/queryform.js'></script>
    <!-- Include Bootstrap's CSS and JS: -->
    <link rel="stylesheet" type="text/css" href="assets/bootstrap/css/bootstrap.min.css">
    <script src="assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="assets/bootstrap/js/bootstrap.min.js"></script>

    <!-- Include the bootstrap-multiselect plugin's CSS and JS: -->
    <script type="text/javascript" src="assets/js/dropdowns-enhancement.js"></script>
    <link rel="stylesheet" href="assets/css/dropdowns-enhancement.css" type="text/css"/>

  </head>
  <body>
  	<h3>Silk Record Fields for filter </h3>
  	<table style="width:100%;">
  		<tr>
  			<td> srcaddr </td> 
  			<td> Source IP address </td>
  		</tr>
  		<tr>
  			<td> dstaddr </td>
  			<td> Destination IP address </td>
  		</tr>
  		<tr>
  			<td> nexthop  </td>
  			<td> IP address of next hop router </td>
  		</tr>
  		<tr>
  			<td> input </td>
  			<td> SNMP index of input interface </td>
  		</tr>
  		<tr>
  			<td> output </td>
  			<td> SNMP index of output interface </td>
  		</tr>
  		<tr>
  			<td> dPkts </td>
  			<td> Packets in the flow </td>
  		</tr>
  		<tr>
  			<td> dOctets </td>
  			<td> Total number of Layer 3 bytes in the packets of the flow </td>
  		</tr>
  		<tr>
  			<td> first </td>
  			<td> SysUptime at start of flow </td>
  		</tr>
  		<tr>
  			<td> last </td>
  			<td> SysUptime at the time the last packet of the flow was received </td>
  		</tr>
  		<tr>
  			<td> srcport </td>
  			<td> TCP/UDP source port number or equivalent </td>
  		</tr>
  		<tr>
  			<td> dstport </td>
  			<td> TCP/UDP destination port number or equivalent </td>
  		</tr><tr>
  			<td> tcp_flags </td>
  			<td> Cumulative OR of TCP flags </td>
  		</tr>
  		<tr>
  			<td> prot </td>
  			<td> IP protocol type (for example, TCP = 6; UDP = 17) </td>
  		</tr>
  	</table> <!-- legend table -->
    <div ng-app="QueryForm" ng-controller="FormCtrl">
      <h1>Build your query</h1>
        <div class="dropdown">
          <div class="btn-group">
            <button data-toggle="dropdown" class="btn btn-default dropdown-toggle"> Select Fields <span class="caret"></span></button>
            <button class="btn btn-info" ng-click="postQueryData()">BuildQuery</button>
              <ul class="dropdown-menu">
                <li>
                    <input type="checkbox" id="chk-srcaddr" ng-model="showField['srcaddr']">
                    <label for="chk-srcaddr">srcaddr</label></li>
                <li>
                    <input type="checkbox" id="chk-dstaddr" ng-model="showField['dstaddr']">
                    <label for="chk-dstaddr">dstaddr</label>
                </li>
                <li>
                  <input type="checkbox" id="chk-srcport" ng-model="showField['srcport']">
                  <label for="chk-srcport">srcport</label>
                </li>
                <li>
                  <input type="checkbox" id="chk-dstport" ng-model="showField['dstport']">
                  <label for="chk-dstport">dstport</label>
                </li>
                <li>
                  <input type="checkbox" id="chk-nexthop" ng-model="showField['nexthop']">
                  <label for="chk-nexthop">nexthop</label>
                </li>
                <li>
                  <input type="checkbox" id="chk-input" ng-model="showField['input']">
                  <label for="chk-input">input</label>
                </li>
                <li>
                  <input type="checkbox" id="chk-output" ng-model="showField['output']">
                  <label for="chk-output">output</label>
                </li>
                <li>
                  <input type="checkbox" id="chk-dPkts" ng-model="showField['dPkts']">
                  <label for="chk-dPkts">dPkts</label>
                </li>
                <li>
                  <input type="checkbox" id="chk-dOctets" ng-model="showField['dOctets']">
                  <label for="chk-dOctets">dOctets</label>
                </li>
                <li>
                  <input type="checkbox" id="chk-first" ng-model="showField['first']">
                  <label for="chk-first">first</label>
                </li>
                <li>
                  <input type="checkbox" id="chk-last" ng-model="showField['last']">
                  <label for="chk-last">last</label>
                </li>
                <li>
                  <input type="checkbox" id="chk-tcp_flags" ng-model="showField['tcp_flags']">
                  <label for="chk-tcp_flags">tcp_flags</label>
                </li>
                <li>
                  <input type="checkbox" id="chk-prot" ng-model="showField['prot']">
                  <label for="chk-prot">prot</label>
                </li>
              </ul>
          </div> <!-- btn-group -->
        </div> <!-- dropdown -->

      <div ng-show="showField['srcaddr'] || showField['dstaddr']">
        <h3> IP adresses </h3>
        <!-- <select ng-repeat="(modelIndex,itemValue) in ipOptions track by modelIndex" ng-model="result[modelIndex]" ng-options="item for item in $parent.ipOptions | arrayDiff:result:result[modelIndex]">
          <option value="">Select IP</option>
        </select> -->
        <div ng-show="showField['srcaddr']">
          srcaddr:<input type="text" ng-model= "ipValues['srcaddr']" ng-pattern="ipv4pattern">
        </div>
        <div ng-show="showField['srcaddr'] && showField['dstaddr']">  
          logic: <select  ng-options="item for item in logicOptions" ng-model="ipValues['logic']"></select>
        </div>
        <div ng-show="showField['dstaddr']">
          dstaddr<input type="text" ng-model= "ipValues['dstaddr']" ng-pattern="ipv4pattern">
        </div>
        <br>
        {{ ipValues }}
        <br>
      </div>
      <div ng-show="showField['srcport'] || showField['dstport']">
        <h3> Ports </h3>
        <div ng-show="showField['srcport']">
          srcport:<input type="number" ng-model= "portValues['srcport']" min="1">
        </div>
        <div ng-show="showField['srcport'] && showField['dstport']">
          logic: <select ng-options="item for item in logicOptions" ng-model="portValues['logic']"></select>
        </div>
        <div ng-show="showField['dstport']">  
          dstport: <input type="number" ng-model= "portValues['dstport']" min="1">
        </div>
        <br>
        {{ portValues }}
      </div>
      <div id="InputFields" ng-show="showField['nexthop'] || showField['output'] || showField['input'] || showField['dPkts'] || showField['dOctets'] || showField['first'] || showField['last'] || showField['tcp_flags'] || showField['prot']">
        <h3>Other Fields</h3>
        <div ng-show="showField['nexthop']">
          nexthop:<input type="text" ng-model="nexthopValue['value']" ng-pattern="ipv4pattern">
          {{ nexthopValue }}
        </div>
        <div ng-show="showField['input']">
          input:
          <select ng-options="item for item in relationOptions" ng-model="inputValue['relational_op']"></select>
          <input type="number" ng-model="inputValue['value']" min="1">
          {{ inputValue }}
        </div>
        <div ng-show="showField['output']">
          output:
          <select ng-options="item for item in relationOptions" ng-model="outputValue['relational_op']"></select>
          <input type="number" ng-model="outputValue['value']" min="1">
          {{ outputValue }}
        </div>
        <div ng-show="showField['dPkts']">
          dPkts: 
          <select ng-options="item for item in relationOptions" ng-model="dPktsValue['relational_op']"></select>
          <input type="number" ng-model= "dPktsValue['value']" min="1">
          {{ dPktsValue }}
        </div>
        <div ng-show="showField['dOctets']">
          dOctets: 
          <select ng-options="item for item in relationOptions" ng-model="dOctetsValue['relational_op']"></select>
          <input type="number" ng-model="dOctetsValue['value']">
          {{ dOctetsValue }}
        </div>
        <div ng-show="showField['first']">
          first: 
          <select ng-options="item for item in relationOptions" ng-model="firstValue['relational_op']"></select>
          <input type="number" ng-model="firstValue['value']" min="1">
          {{ firstValue }}
        </div>
        <div ng-show="showField['last']">
          last: 
          <select ng-options="item for item in relationOptions" ng-model="lastValue['relational_op']"></select>
          <input type="number" ng-model="lastValue['value']" min="1">
          {{ lastValue }}
        </div>
        <div ng-show="showField['tcp_flags']">
          tcp_flags: <input type="text" ng-model="tcpFlagsValue['value']">
          {{ tcpFlagsValue }}
        </div>
        <div ng-show="showField['prot']">
          prot: <input type="text" ng-model="protValue['value']">
          {{ protValue }}
        </div>
      </div> <!-- InputFields -->

      <div ng-show="showResult['jsondata']" class="panel panel-info">
      <div class="panel-heading">
        <div class="panel-title">
          Query Result
        </div>
      </div>
      <div class="panel-body">
         {{ jsonResult }}
      </div>
    </div> <!-- json result -->
    </div> <!-- QueryForm -->
  </body>
</html>